<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Footer</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block header %}
    {% include 'partials/header.html' %}
    {% endblock %}
    
    <div class="content">
        {% block content %}
        <h1>base....</h1>
        {% endblock %}
    </div>
    
    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock %}

</body>
</html>